@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
 
 body {
     background: repeating-linear-gradient(45deg, #333333 0, #333333 5%, #1e0c02 0, #1e0c02 50%) 0 / 10px 10px;
 }
 /* body{
    background-image: url(/img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
 } */

 h1 {
     color: gold;
     text-align: center;
     font-size: 60px;
     font-family: 'Poppins', sans-serif;
 }

 h2 {
     color: white;
     text-align: center;

 }

 .diya {
     position: relative;
     width: 100px;
     background-color: #923200;
     top: 99px;
     margin: 0 auto;
     border-radius: 0px 10px 100% 0px;
     border-bottom: 0px solid #923200;
     box-shadow: inset 0 -50px 50px -20px #923200;

     left: 62px;
 }

 .diya::before {
     content: '';
     width: 100px;
     height: 100px;
     display: block;
     background-color: #923200;
     margin-left: -100px;

     border-radius: 10px 0px 0px 100%;
     border-bottom: 10px solid #923200;
     box-shadow: inset 0 -50px 50px -20px #923200;
 }

 .flame {
     position: absolute;
     width: 60px;
     height: 60px;
     top: -65px;
     left: -30px;
     background: yellow;
     border-radius: 0 110px 20px 110px;
     transform: rotate(45deg);
 }

 .flame::after {
     content: '';
     width: 60px;
     height: 60px;
     display: block;
     background: yellow;
     border-radius: 0 110px 20px 110px;
     transform: rotate(0deg);
     animation: flameEffect 1.5s linear infinite;
 }

 @keyframes flameEffect {
     0% {
         transform: scale(0);
         opacity: 0;
     }

     50% {
         transform: scale(1.3);
         opacity: 0.5;
     }

     100% {
         transform: scale(1.5);
         opacity: 0;

     }
 }

 form {
    
     width: 76%;
     margin: 0 auto;
     padding-left: 14px;
     text-align: center;

 }

 input {
    background-image: url(img/img.webp);
    border: black;
    color: white;
     height: 2.5em;
     width: 300px;
     margin: 0.8em 0;
     background-color: rgb(245, 245, 245);
     border-radius: 50px;
     box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
     font-weight: 500;
     padding: 5px;
     font-weight: bold;
font-size: 15px;
padding-left: 25px;
 }
   .reg:hover{
    color: chartreuse;
 }

 input:focus {
     outline: none;
 }

 @media screen and (max-width :400px){
    h1{
        font-size: 16px;
        font-weight: bolder;
    }
   
    form{
        width: 100%;
        padding-left: 0px;
        
    }
    input {
        background-image: url(/img.webp);
        border: black;
        color: white;
         height: 2.5em;
         width: 250px;
         margin: 0.8em 0;
         background-color: rgb(245, 245, 245);
         border-radius: 50px;
         box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
         font-weight: 500;
         padding: 5px;
         font-weight: bold;
    font-size: 15px;
    padding-left: 25px;
     }
 }